In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Описание данных
Этот набор данных содержит информацию о невыплаченных платежах, демографических факторах, кредитных данных, историй платежей и выписки по счетам клиентов кредитных карт на Тайване с апреля 2005 года по сентябрь 2005 года.

## Описание полей

* ID - идентификатор клиента;
* LIMIT_BAL - сумма предоставленного кредита в новых тайваньских долларах (включая индивидуальный и семейный/дополнительный кредит);
* SEX - пол (1 - мужской, 2 - женский);
* EDUCATION - образование (1 - аспирантура, 2 - университет, 3 - средняя школа, 4 - другое, 5 - неизвестно, 6 - неизвестно);
* MARRIAGE - информация о браке (1 - женат/замужем, 2 - холост/не замужем, 3 - другое);
* AGE - возраст (в годах);
* PAY_0 - статус погашения в сентябре 2005 г. (-1 - оплата своевременно, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять месяцев и более);
* PAY_2 - статус погашения в август 2005 г. (-1 - оплата своевременно, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять месяцев и более);
* PAY_3 - статус погашения в июль 2005 г. (-1 - оплата своевременно, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять месяцев и более);
* PAY_4 - статус погашения в июнь 2005 г. (-1 - оплата своевременно, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять месяцев и более);
* PAY_5 - статус погашения в май 2005 г. (-1 - оплата своевременно, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять месяцев и более);
* PAY_6 - статус погашения в апреле 2005 г. (-1 - оплата своевременно, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять месяцев и более);
* BILL_AMT1 - сумма выписки по счету в сентябре 2005 г. (в новых тайваньских долларах);
* BILL_AMT2 - сумма выписки по счету в августе 2005 г. (в новых тайваньских долларах);
* BILL_AMT3 - сумма выписки по счету в июле 2005 г. (в новых тайваньских долларах);
* BILL_AMT4 - сумма выписки по счету в июне 2005 г. (в новых тайваньских долларах);
* BILL_AMT5 - сумма выписки по счету в мае 2005 г. (в новых тайваньских долларах);
* BILL_AMT6 - сумма выписки по счету в апреле 2005 г. (в новых тайваньских долларах);
* PAY_AMT1 - сумма предыдущего платежа в сентябре 2005 г. (в новых тайваньских долларах);
* PAY_AMT2 - сумма предыдущего платежа в августе 2005 г. (в новых тайваньских долларах);
* PAY_AMT3 - сумма предыдущего платежа в июле 2005 г. (в новых тайваньских долларах);
* PAY_AMT4 - сумма предыдущего платежа в июне 2005 г. (в новых тайваньских долларах);
* PAY_AMT5 - сумма предыдущего платежа в мае 2005 г. (в новых тайваньских долларах);
* PAY_AMT6 - сумма предыдущего платежа в апреле 2005 г. (в новых тайваньских долларах);
* default.payment.next.month - дефолт (1 - да, 0 - нет).

In [2]:
# Чтение данных из CSV файла
data = pd.read_csv('data/UCI_Credit_Card.csv')

In [3]:
display(data.head())

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [4]:
# Для удобства переименуем столбец 'default.payment.next.month' в 'default'
data.rename(columns={'default.payment.next.month': 'default'}, inplace=True)

# А также все столбцы в нижний регистр
data.columns = [col.lower() for col in data.columns]

In [5]:
# Посмотрим на распределение целевой переменной
data["default"].value_counts(dropna=False)

default
0    23364
1     6636
Name: count, dtype: int64

In [6]:
# Посмотрим на основные статистики по демографическим данным (пол)
display(data["sex"].value_counts(dropna=False))

sex
2    18112
1    11888
Name: count, dtype: int64

In [7]:
# Посмотрим на основные статистики по демографическим данным (образование)
display(data["education"].value_counts(dropna=False))

education
2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: count, dtype: int64

In [8]:
# В выборке содержатся неявные пропуски в образовании (0 - неизвестно, 5 - другое, 6 - неизвестно)
# Объединим их в одну категорию 5
data["education"].replace({0: 5, 6: 5}, inplace=True)
display(data["education"].value_counts(dropna=False))

education
2    14030
1    10585
3     4917
5      345
4      123
Name: count, dtype: int64

In [9]:
# Посмотрим на основные статистики по демографическим данным (информация о браке)
display(data["marriage"].value_counts(dropna=False))

marriage
2    15964
1    13659
3      323
0       54
Name: count, dtype: int64

In [10]:
# В выборке также содержится неявные пропуски в семейном положении (0 - неизвестно)
# Объединим их в одну категорию 3
data["marriage"].replace({0: 3}, inplace=True)
display(data["marriage"].value_counts(dropna=False))

marriage
2    15964
1    13659
3      377
Name: count, dtype: int64

In [11]:
# Посмотрим на основные статистики по демографическим данным (возраст)
display(data["age"].describe(percentiles=[0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]))

count    30000.000000
mean        35.485500
std          9.217904
min         21.000000
1%          22.000000
5%          23.000000
10%         25.000000
25%         28.000000
50%         34.000000
75%         41.000000
90%         49.000000
95%         53.000000
99%         60.000000
max         79.000000
Name: age, dtype: float64

### Payment analysis

In [12]:
# Переименуем столбцы для удобства
data.rename(columns={
    'pay_0': 'repayment_status_sep_2005',
    'pay_2': 'repayment_status_aug_2005',
    'pay_3': 'repayment_status_jul_2005',
    'pay_4': 'repayment_status_jun_2005',
    'pay_5': 'repayment_status_may_2005',
    'pay_6': 'repayment_status_apr_2005',
    'bill_amt1': 'bill_amt_sep_2005',
    'bill_amt2': 'bill_amt_aug_2005',
    'bill_amt3': 'bill_amt_jul_2005',
    'bill_amt4': 'bill_amt_jun_2005',
    'bill_amt5': 'bill_amt_may_2005',
    'bill_amt6': 'bill_amt_apr_2005',
    'pay_amt1': 'payment_amt_sep_for_aug_2005',
    'pay_amt2': 'payment_amt_aug_for_jul_2005',
    'pay_amt3': 'payment_amt_jul_for_jun_2005',
    'pay_amt4': 'payment_amt_jun_for_may_2005',
    'pay_amt5': 'payment_amt_may_for_apr_2005',
    'pay_amt6': 'payment_amt_apr_for_mar_2005'
}, inplace=True)

Можем предположить, что статус платежа `-2` обозначает отсутствие, а статус `0` внесение мин.платежа.

Попробуем разобраться с этими статусами.

In [35]:
# Взглянем глазами на неопределённые статусы платежей
data.loc[
    (data["repayment_status_sep_2005"] == -2) |
    (data["repayment_status_aug_2005"] == -2) |
    (data["repayment_status_jul_2005"] == -2) |
    (data["repayment_status_jun_2005"] == -2) |
    (data["repayment_status_may_2005"] == -2) |
    (data["repayment_status_apr_2005"] == -2) |
    (data["repayment_status_sep_2005"] == 0) |
    (data["repayment_status_aug_2005"] == 0) |
    (data["repayment_status_jul_2005"] == 0) |
    (data["repayment_status_jun_2005"] == 0) |
    (data["repayment_status_may_2005"] == 0) |
    (data["repayment_status_apr_2005"] == 0),
    [
        "repayment_status_sep_2005", "repayment_status_aug_2005", "repayment_status_jul_2005", "repayment_status_jun_2005", "repayment_status_may_2005", "repayment_status_apr_2005",
        "limit_bal", "bill_amt_sep_2005", "bill_amt_aug_2005", "bill_amt_jul_2005", "bill_amt_jun_2005", "bill_amt_may_2005", "bill_amt_apr_2005",
        "payment_amt_sep_for_aug_2005", "payment_amt_aug_for_jul_2005", "payment_amt_jul_for_jun_2005", "payment_amt_jun_for_may_2005", "payment_amt_may_for_apr_2005", "payment_amt_apr_for_mar_2005"
    ]
].reset_index(drop=True).iloc[256].T

repayment_status_sep_2005            1.0
repayment_status_aug_2005           -2.0
repayment_status_jul_2005           -1.0
repayment_status_jun_2005            0.0
repayment_status_may_2005           -1.0
repayment_status_apr_2005           -1.0
limit_bal                       300000.0
bill_amt_sep_2005                    0.0
bill_amt_aug_2005                    0.0
bill_amt_jul_2005                13001.0
bill_amt_jun_2005                12601.0
bill_amt_may_2005                19595.0
bill_amt_apr_2005                  203.0
payment_amt_sep_for_aug_2005         0.0
payment_amt_aug_for_jul_2005     13001.0
payment_amt_jul_for_jun_2005         0.0
payment_amt_jun_for_may_2005     19595.0
payment_amt_may_for_apr_2005       203.0
payment_amt_apr_for_mar_2005         0.0
Name: 256, dtype: float64

Взглянув глазами на данные, можем с большой долей уверенности сказать, что:
* статус `-2` обозначает полное погашение задолженности за предыдущий месяц, после которого сумма выписки по счету в следующем месяце будет равной нулю;
* статус `0` обозначает отсутствие задолженности.